---
title: Short Films
fullTitle: Short Films
colorClass: CCmutedOrange
date: Spring 2013 &amp; Fall 2013
type: Film
liveProject: false
---
<br>
<iframe width="750" height="422" src="//www.youtube.com/embed/vm-nAXOw5RY?rel=0" frameborder="0" allowfullscreen></iframe>
<h3>Junior Movie: Banquet 2013<br>An Introspective Into the Socioeconomic Status of West Germany in the Modern Era</h3>
<br></br>
<iframe width="750" height="422" src="//www.youtube.com/embed/8uENhK5PSEQ?rel=0" frameborder="0" allowfullscreen></iframe>
<h3>Student Council Organization Introduction Video</h3>