---
title: Talking to Chloe!
colorClass: CCmutedBlue
---
<div class="mainContain">
<h2>While the test server is active I'll just throw some messages for Chloe here:</h2>
<hr>

<img src="http://i.imgur.com/QurZROM.jpg" style="height:300px;">
<p>This is a cat, Chloe has a cat as well</p>

</br>

<p>I have no idea what to type here</p>

<h2>Something here as well</h2>

</div>