---
title: Projects
colorClass: CCmutedOrange
---
<div class="mainContain">
	<div class="showcase">
		<a href="laurathorntonlaw/"><div class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/one.png">
			Laura Thornton Law
		</div></a>
		<a href="collisiondetect/"><div class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/two.png">
			Collision Detection
		</div></a>
		<a href="singlepageport/"><div class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/three.png">
			Single Page Portfolio
		</div></a>
		<a href="linedraw/"><div class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/four.png">
			Line Generation
		</div></a>
		<a href="photoport/"><div class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/five.png">
			Photo Portfolio
		</div></a>
	</div>
	<div class="showcase">
		<a href="dynamictimeline/"><div class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/one.png">
			Dynamic Timeline
		</div></a>
		<a href="datatimeline/"><div class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/two.png">
			HTML-Data Timeline
		</div></a>
		<a href="bioresearch/"><div class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/two.png">
			Biology Independent Research
		</div></a>
		<a href="shortfilms/"><div class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/two.png">
			Short Films
		</div></a>
	</div>
</div>