---
title: Test Bed
colorClass: CCmutedBlue
---
<div class="mainContain">
<!-- <h2>The Test Bed holds unfinished projects or tech demos</h2>
<h2><a href="../projects/physjs">Hi Chloe click this!</a></h2>
<h2><a href="../projects/linedraw">Try this one now--not as cool, but still kinda neat</a></h2>

<h2>HAVE FUN WITH FOOD! Also can't wait for Sherlock</h2>
<h2>OK, Well this is kinda one way; however, I can dig it</h2>
<hr>
<p>La la la, talking to Chloe is a thing I do sometimes</p>
<h2><a href="../chloe">Click this!</a></h2>

<h2>Server Says goodnight!</h2>
<h2>:D</h2> -->
<div class="cssWindowOutside">
<div class="cssWindowDot">	
</div>
<div class="cssWindowDot">
</div>
<div class="cssWindowDot">
</div>
<span>Thing</span>
<div class="cssWindowInside">
</div>
</div>

<div class="cssPhoneOutside">
<div class="cssPhoneCamera">	
</div>
<div class="cssPhoneSpeaker">
</div>
<div class="cssPhoneInside">
</div>
</div>
</div>
</div>


