/*
main.css
Benjamin Ghaemmaghami 2014
*/

/*General Rules*/
html{
	overflow-y: scroll;
}

body{
	margin:0 0 0 0;
	font-family:'Oxygen', sans-serif;
	color: #000;
	background: #F2F2F2;
	transition-duration: 600ms;
}

button{
	color: #4D4D4D;
	font-size: .8em;	
	width: 75px;
	height: 50px;
	margin: auto;
	border: 1px solid white;
	background-color: white;
}

a{
	text-decoration: none;
	color: #4D4D4D;
}

p{
	font-family: "Georgia","Times New Roman",serif;
	color: #4d4d4d;
	font-weight: 200;
}

h1{
	text-align: center;
	font-size: 1.6em;
	color: #fff;
	font-weight: 300;
	margin: 0 0 0 0;
}
h2{
	font-size: 1.6em;
	color: #4d4d4d;
	font-weight: 100;
	margin: 0 0 0 0;
}
h3{
	font-size: 1.2em;
	color: #4d4d4d;
	font-weight: 100;
	margin: 0 0 0 0;
	letter-spacing: .02em;
}
form{
	width: 400px;
	height: 300px;
	margin: auto;
	color: #4D4D4D;
	font-size: 1.3em;
	font-weight: 100;
	padding-top: 25px;
}

input{
	width: 200px;
	height: 20px;
	font-size: .7em;
	font-weight: 100;
	color: #4D4D4D;
	-webkit-appearance: none;
	border: 2px solid #4D4D4D;
	border-radius: 5px;
	margin: 5px 0px 5px 0px;
	padding: 0 0 0 0;
	display: inline-block;
}
textarea{
	width: 400px;
	height: 150px;
	max-width: 400px;
	min-width: 400px;
	font-family: sans-serif;
	border: 2px solid #4D4D4D;
	border-radius: 5px;
	margin: 5px 0px 5px 0px;
	-webkit-appearance: none;
}

input:focus,textarea:focus{
	border: 2px solid #FF5E5E;
}

article{
		
}

pre{
	word-wrap: break-all;
}

.error404{
	width: 92%;
	text-align: center;
	font-weight: 200;
	margin: auto;	
}

.error404 span{
	font-size: 6em;
	color: inherit;
}

/*Navigation Rules*/
.dropIcon{
	background: url(imgs/dropd.png);
	width: 50px;
	height: 50px;
	display: block;
	float: right;
}

.naviToggle{
	width: 100%;
	background: #000;
	height: 35px;
	z-index: 5;
	color: white;
	font-size: 1em;
	line-height: 33px;
	text-align: right;
	font-weight: 300;
}

.naviToggle ul{
	display: block;
	height: 35px;
	padding-right: 10px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.naviToggle li{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	transition-duration: 600ms;
}

.naviToggle li a{
	float: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.naviToggle a{
	color: white;
	float: left;
	padding-left: 10px;
	transition-duration: 600ms;
}

.naviToggle a:hover{
	color: #4D4D4D;
	transition-duration: 600ms;
}

.naviMiddle{
	max-width: 1080px;
	margin: auto;
	height: 100%;
	width: 100%;
}

/*Content Container Rules*/
.mainContain{
	width: 100%;
	max-width: 1080px;
	margin: 15px auto 0 auto;
	position: relative;
	z-index: 10;
	background: #F2F2F2;
	overflow: hidden;

}

.backgroundPassiveColor{
	width: 100%;
	height: auto;
	background: #000;
}


.backgroundFiller{
	width: 100%;
	min-height: 120px;
	margin:0 auto 0 auto;
	line-height: 120px;
}

.glamorShot{
	background: url(/imgs/benfull.jpg) no-repeat center;
	width: 100%;
	max-width: 2838px;
	height: 719px;
	margin: auto;
}

.glamorTextHold{
	width: 100%;
	max-width: 1080px;
	margin: auto;
}

.glamorText{
	position: relative;
	top: 190px;
	left: 75px;
	width: 315px;
	text-align: center;
	color: #FFF;
	font-size: 1.4em;
	background:rgba(0,0,0,0.7);
	font-weight: 100;
	padding: 50px 50px 50px 50px;

}

.pageContent{
	width: 100%;
	max-width: 850px;
	margin: auto;
}
.pageContent p{
	color: #4D4D4D;
	font-size: 1.1em;
	padding: 30px 30px 30px 30px;
	text-align: left;
	line-height: 1.8em;
	
}

.showcase{
	width: 1063px;
	margin: auto;
	height: 175px;
	position: relative;
	padding-bottom: 20px;
	padding-top: 25px;
	padding-left: 0px;
	padding-right: 0px;
}

.projectShowcase{
	width: 1080px;
	margin: auto;
	height: 175px;
	position: relative;
	padding-bottom: 20px;
	padding-top: 25px;
	padding-left: 0px;
	padding-right: 0px;
}

.showcaseImageCenter{
	margin: auto;
	position: relative;
	width: 100%;
	height: 100px;
}

.showcaseItem{
	height: auto;
	width: 175px;
	float: left;
 	margin:0 19.75px 0 19.75px;
	text-align: center;
	cursor: pointer;
	color: #4d4d4d;
	display: block;
	margin-bottom: 20px;
}

.showcaseItem img{
	border: 3px solid #ddd;
}

.showcaseItem:hover{
	color: #000;
}

.showcaseItem:hover img{
	border: 3px solid #4d4d4d;

}
.showcaseImage{
	width: 175px;
	height: 175px;
	position: relative;
	margin: -3px 15.75px -3px 15.75px;
	float: left;
	overflow: hidden;
	border: 3px solid #ddd;
/*	transition-duration: 550ms;*/
	cursor: pointer;
}

.showcaseImage:hover{
	border: 3px solid #4d4d4d;
	margin: -3px 15.75px -3px 15.75px;
/*	border-radius: 0 0 25px 25px;*/
/*	transition-duration: 550ms;*/
}

.showcaseImage img{
	top: 0px;
	left: 0px;
	position: absolute;
}



.showcaseColorImage{
	z-index: 1
}

.showcaseBWImage{
	z-index: 2;
	transition-duration: 550ms;
}

.showcaseBWImage:hover{
	transition-duration: 550ms;
	opacity: 0;
}

.showcaseSlider{
	width: 1080px;
	height: 350px;
	margin: auto;
	margin-bottom: 0px;
	overflow: hidden;
}

.showcasePageHold{
	width: 5400px;
	height: 350px;
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.showcasePage{
	width: 1080px;
	height: 350px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: relative;
	float: left;
}

.showcasePageImage{
	position: relative;
	top: 0px;
	left: 0px;
	height: 350px;
	user-select:none;
	z-index: 1;
}

.showcasePageText{
	height: 250px;
	z-index: 2;
	color: #4D4D4D;
	text-align: left;
	width: 230px;
	padding: 5px 0 0 0;
	line-height: 1.2em;
	float: left;
	margin: 70px 0px 0px 20px;
}

.showcasePageText span{
	text-align: center;
	font-size: 1.3em;
	color: #4d4d4d;
	font-weight: 300;
	padding: 5px 0 0 0;
	margin: 0 0 5px 0;

}

.showcasePageText p{
	margin: 5px 2px 5px 2px;
}


.showcasePageButton{
	width: 225px;
	height: 75px;
	margin: 105px auto 0 auto;
	line-height: 70px;
	color: #fff;
	background: #FFBE69;
	display: block;
	text-align: center;
}

.showcasePageButton:hover{
	background: #FFB14B;
}

.showcaseActiveContain{
		width: 100%;
		float: left;
		clear: both;
		margin: 10px 0 0 0;

}
.showcaseActive{
	width: 20%;
	height: 2px;
	background: #aaa;
	position: relative;
}

.headShot{
	width: 250px;
	height: 250px;
	background: url(/imgs/benhead.png);
	float: right;
	border-bottom: 10px solid #FF5E5E;
}

/*Blog*/

.blogSidebar{
	width: 240px;
	height: 600px;
	margin: 0px 0 15px 10px;
	float: left;
	position: fixed;
	border-right: 1px #4D4D4D solid;
	text-align: right;
	padding-right: 20px;
	overflow: scroll-y;
}

.blogSidebarReserve{
	width: 240px;
	margin: 0px 0 15px 10px;
	padding-right: 11px;
	float: left;
	height: 600px;
}

.blogSidebarAbsolute{
	position: absolute;
	bottom: 0px;
}

.blogSidebarTracker{
	position: fixed;
}

.blogSidebar a{
	display: inline-block;
	color: #4D4D4D;
	text-align: right;
	background: #61C758;
	padding: 5px;
	color: #fff;
	margin-bottom: 7px;
	font-size: 1em;
	font-weight: 300;
}

.blogSidebar a:hover{
	 background: #3D9734;
}


.blogArchive{
	float: right;
	height: 170px;
	margin: 5px;
	width: 230px;

	overflow: hidden;
}

.blogArchiveSlider{
	width: 480px;
	position: relative;
	top: 0px;
	left: 0px;
	height: 120px;
	overflow: hidden;
}

.blogArchivePanel{
	width: 240px;
	position: relative;
	top: 0px;
	float: left;
	clear: none;
	height: 240px
}

.blogArchivePanel ul{
	width: 150px;
	margin-right:15px;
	margin: 0px 5px 5px 15px;
	padding: 5px 5px 0 0;
	float: right;
}

.blogArchivePanel ul li{
	display: block;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}

.blogArchive ul li a{
	width: 22px;
	height: 24px;
	padding: 5px;
	margin-bottom: 0px;
}

.blogArchivePanel span{
	font-size: 1.2em;
	font-weight: 300;
	float: right;
	clear: none;
}

.blogArchiveToggle{
	height: 32px;
	width: 32px;
	transition-duration: 400ms;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	font-weight: 400;
	font-size: 1.2em;
	color: #4D4D4D;
	background: url(/imgs/arrow.png);
	float: right;
	clear: right;
	padding-right: 5px;
}

.blogArchiveReturn{
	height: 100px;
	width: 32px;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
	font-weight: 400;
	font-size: 1em;
	color: #4D4D4D;
	background: url(/imgs/arrowflip.png) no-repeat center top;
	float: right;
	clear: none;
}

.blogArchiveYearHidden{
}

.blogTagList{
	float: right;
	clear:both;
	position: relative;
}

.blogTagList ul{
	padding-left: 5px;
}

.blogTagList ul li{
	display: block;
	float: right;
	margin-right: 5px;

}

.blogMain{
	width: 630px;
	margin: 0px 0px 50px 30px;
	float: left;	
}

.blogMain a{
	display: inline-block;
	color: #4D4D4D;
	text-align: left;
	background: #61C758;
	padding: 5px;
	color: #fff;
	margin-bottom: 7px;
}

.blogMain a:hover{
	 background: #3D9734;
}


.blogArticle{
	/*background: #fff;*/
	padding: 0px 10px 0 10px;
	width: 600px;
	min-height: 150px;
	margin: 0px auto 0px auto;
	color: #4D4D4D;

}

.blogArticleInfo{
	padding-bottom: 5px;
	padding-top: 16px;
	height: 150px;
	position: relative;
	width: 100%;
	overflow: hidden;
	border-bottom: #61C758 solid 2px;
}

.blogArticleInfoImgWrap{
	height: 0px;
	width: 100%;
}

.blogArticleInfoImgWrap img{
	margin-top: -5px;
	margin-bottom: -5px;
}

.blogArticleInfoOverlay{
	position: absolute;
	bottom: 5px;
	z-index: 10;
	width: auto;
}

.blogArticleInfoOverlay h2{
	float: left;
	font-size: 1.5em;
}

.blogArticleInfoOverlay h3{
	float: right;
	display: block;
	text-align: right;
	font-size: 1.1em;
}

.blogArticleTitle{
	padding-top: 0;
	padding-bottom: 5px;
	border-bottom: 5px solid #61C758;
	font-size: 1.5em;
	text-align: left;
}

.blogArticleText{
	margin-top: 5px;
	font-size: 1.1em;
	line-height: 1.3em;
}

.blogPreview{
	margin-top: 15px;
	font-size: 1.1em;
	line-height: 1.2em;
	margin-bottom: 10px;
}


.blogArticleTags{
	text-align: left;
	margin: 5px 0 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	height: auto;
	position: relative;
	display: block;
	/*border-bottom:dashed rgba(0,0,0,.5) 2px;*/
	border-top:dashed rgba(0,0,0,.5) 2px;
}


/*.blogArticleTags a{
	display: inline-block;
	background: #61C758;
	color: #fff;
	padding: 5px;

}*/
.blogArticleTags a:after{
	content: ""
}

.blogPageSelect{
	margin-top: 35px;
	line-height: 50px;
	text-align: center;
	color: #4d4d4d;
	height: 50px;
}

.blogPageSelect a{
	color: #fff;
	display: block;
	width: 100%;
	height: 50px;
	background: #4D4D4D;
	text-align: center;
	padding: 0 0 0 0;
}

.blogPageSelect a:hover{
	background:#3a3a3a;
}

.blogPre{
	width: 25%;
	height: 50px;
	float: left;
}

.blogCurrent{
	width: 50%;
	height: 50px;
	float: left;
}
.blogNext{
	width: 25%;
	height: 50px;
	float: left;
}
.blogComments{
	margin-top: 40px;
	clear: both;
}

/*Project Page*/
.projectText{
	width: 780px;
	padding-right: 20px;
	float: left;
}
.projectInfo{
	width: 270px;
	float: left;
	margin-left: 10px;
}
.projectPageButton{
	width: 200px;
	height: 65px;
	margin: 15px auto 0 auto ;
	line-height: 65px;
	color: #fff;
	background: #FFBE69;
	display: block;
	text-align: center;
	font-size: 1.2em
}


.projectPageButton:hover{
	background: #FFB14B;
}

/*Modal Rules*/
.modalBlackout{
	height: 100%;
	width: 100%;
	background-color: #000;
	position: fixed;
	z-index: 101;
	opacity: .6;
	display: none;
}

.modalBlackout span{
	bottom: 0px;
	right:5px;
	position: absolute;
	font-size: 400%;
	color: white;
	text-align: center;
	opacity: .6;
	cursor: pointer;

}
.modalHelper{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 102;
	pointer-events:none;
	display: none;
}

.modal{
	background-color: #F5F5F5;
	z-index: 102;
	position: fixed;
	opacity: 2;
	display: block;
	pointer-events:all;

}

.modalText{
	width: 350px;
	height: 150px;
}

.modalText h1{
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 400;
	text-align: center;
	margin: 0 0 0 0;
	color: white;
}

.modalText p{
	text-align: center;
	padding: 15px;
	margin: 0 0 0 0;
	background-color: #F2F2F2;
	height:85px;
	font-size: 1.1em;
}

.modalImage{
	background: #4D4D4D;
}

.modalImage h1{
	margin: 0 0 0 0;
	padding: 0px 2px 2px 2px;
	color: white;
	font-weight: 400;
	font-size: 1.5em;
}
.modalImage img{
	border-bottom: 2px solid #8F8F8F;
}

/*Footer*/
.footer{
	height: 150px;
	background: #4d4d4d;
	padding-top: 30px;
	text-align: center;
	overflow: hidden;
	clear: both;
	margin-top: 15px;
	width: 100%;
	z-index: 100;
	bottom: 0px;
	position: relative;
}
.footer img{
	cursor: pointer;
	border-radius: 50px;
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	clear:both;


}

.footer img:hover{
	background: #666;
}
.footer ul{
	display: block;
	width: 100%;
	height: 50px;
	margin: auto;
	position: relative;
	padding: 0 0 0 0;
	color: #fff;
}

.footer ul li{
	display: inline-block;
	text-align: center;
}

.footer ul li a{
	color: #fff;
}

.footerButtonHold{
	width: 765px;
	height: 75px;
	margin: 0px auto 20px auto;
	position: relative;
}


.footerButton{
	width: 225px;
	height: 75px;
	margin: 0 15px 0 15px;
	line-height: 75px;
	color: #fff;
	background: #636363;
	display: block;
	text-align: center;
	cursor: pointer;
	font-size: 1.2em;
	float: left;
}

.footerButton:hover{
	background: #9c9c9c;
}

.formHold{
	height: 400px;
	width: 400px;
	overflow: hidden;
	float: left;
}

.invisiFooter{
	height: 210px;
}



/*Deprecated Navigation Slider*/
.naviContain{
	margin: auto;
	height: auto;
	position: fixed;
	height: 650px;
	width: 300px;
	background-color: #F5F5F5;
	border: solid 2px #8F8F8F;
	z-index: 101;
	top: -654px;
	-webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
	-moz-box-shadow:    0px 0px 30px rgba(255, 255, 255, 0.2);
	box-shadow:         0px 0px 30px rgba(255, 255, 255, 0.2);	
}
.thinCenter{
	width: 250px;
	margin: auto;
	height: auto;
	position: relative;
	z-index: 0;
	padding-top: 25px;

}

.thinCenter ul{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.thinCenter ul li{
	width: 250px;
	height: 100px;
	margin: 0 0 25px 0;
	color: white;
	text-align: center;
	font-size: 2em;
	font-family: sans-serif;
	opacity: .7;
	line-height: 100px;
	transition-property: opacity margin padding-top;
	transition-duration: 600ms;
	display: block;
}

.thinCenter ul li:hover{
	transition-property: all;
	transition-duration: 600ms;
	opacity: 1;
	margin: -5px -5px 20px -5px;
	height: 110px;
	line-height: 110px;
	width: 260px;
	cursor: pointer;
	color: white;
}

.launchOptionActive{
	opacity: 1;
	margin: -5px -5px 20px -5px;
	height: 110px;
	line-height: 110px;
	width: 260px;
	cursor: pointer;
	color: white;
}

/*Flat CSS Browser Window*/

.cssWindowOutside{
	width: 630px;
	height: 325px;
	border-radius: 10px 10px 0 0;
	background:#CFCFCF;
	overflow: hidden;
	position: relative;
/*	border: 2px #E0E0E0 solid;*/
	border: 2px #C4C4C4 solid;
	margin: 25px 0 0 100px;
	text-align: center;
	float: left;
	transition-duration:300ms;
}

.cssWindowOutside:hover{
	height: 350px;
	margin-top: 0px;
	transition-duration:300ms;
}

.cssWindowOutside span{
	color: #4D4D4D;
	margin-left: -75px;
	font-size: 1em;
	line-height: 1.5em;
	display: inline-block;
}

.cssWindowInside{
	width: 100%;
	height: 100%;
	background:#fff;
	overflow: hidden;
	border-top: 2px #C4C4C4 solid;
	float: left;
	/*border-radius: 5px 5px 0 0;*/
}

.cssWindowDot{
	width: 15px;
	height: 15px;
	border-radius: 8px;
	background: #ddd;
	margin: 5px 3px 5px 3px;
	float: left;
	transition-duration:150ms;	
}

.cssWindowDot:nth-child(1){
	margin-left: 15px;
	/*background: #ED4242;
*/}

.cssWindowDot:nth-child(1):hover{
	margin-left: 15px;
	background: #C70000;
	transition-duration:150ms;		
}

/*Flat CSS iPhone*/

.cssPhoneOutside{
	width: 300px;
	height: 325px;
	border-radius: 40px 40px 0 0;
	background:#CFCFCF;
	overflow: hidden;
	position: relative;
/*	border: 2px #E0E0E0 solid;*/
	border-top: 2px #C4C4C4 solid;
	border-left: 2px #C4C4C4 solid;
	border-right: 2px #C4C4C4 solid;
	margin: 25px 0 0 100px;
	text-align: center;
	float: left;
	transition-duration:300ms;
}

.cssPhoneOutside:hover{
	height: 350px;
	margin-top: 0px;
	transition-duration:300ms;
}

.cssPhoneOutside span{
	color: #4D4D4D;
	margin-left: -75px;
	font-size: 1em;
	line-height: 1.5em;
	display: inline-block;
}

.cssPhoneInside{
	width: 100%;
	height: 100%;
	background:#fff;
	overflow: hidden;
	border-top: 2px #C4C4C4 solid;
	float: left;
	/*border-radius: 5px 5px 0 0;*/
}

.cssPhoneCamera{
	width: 15px;
	height: 15px; 
	border-radius: 15px;
	background: #4D4D4D;
	margin:30px 0px 30px 114.5px;
	float: left;
}

.cssPhoneSpeaker{
	width: 40px;
	height: 9px; 
	border-radius: 15px;
	background: #4D4D4D;
	margin:30px 0px 30px 10px;
	float: left;
	border: 3px #454545 solid;
}

/*CV Styles*/
.cvSegment{
	width: 970px;
	height: auto;
	margin: auto;
	position: relative;
	border-bottom: 2px solid #aaa;
	padding-bottom: 10px;
	overflow: hidden;
}

.cvSegment:last-child{
	border: none;
}

.cvImage{
	width: 175px;
	height: auto;
	margin-left: 15px;
	float: left;
}

.cvImage img{
	width: 100%;
}

.cvName{
	padding-top: 75px;
	margin-left: 10px;
	float: left;
	width: 550px;
}

.cvContact{
	width: 100px;
	float: left;
	color: #4D4D4D;
}

.cvContact ul{
	margin: 75px 0 0 0;
	padding: 0 0 0 0;
}

.cvContact ul li{
	display: block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


.cvSegmentTitle{
	padding-top: 10px;
	padding-left: 20px;
	width: 250px;
	height: 100px;
	float: left;
}

.cvSegmentContent{
	width: 700px;
	margin-top: 10px;
	float: left;
}

.cvSegmentContent p{
	margin: 5px 0 0 0;
}

.cvSegmentContent ul{
	display: block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.cvSegmentContent ul li{
	display: block;
	margin: 10px 0px 0 0;
	border-bottom: 2px solid #ccc;
	padding-bottom: 15px;
}



.cvSegmentContent ul li:first-child{
	margin: 0 0 0 0;
}
.cvSegmentContent ul li:last-child{
	border: none;
	padding-bottom: 5px;
}


.cvSegmentContent ul li h2{
	color: #303030;
}




/*General Colors*/

.CCblack{
	background: #000 ;
}

.CCgrey{
	background: #EDEDED
}

.CCmutedRed{
	background:#FF5E5E ;
	transition-duration: 600ms;
}

.CCmutedBlue{
	background:#99E4F0 ;
	transition-duration: 600ms;
/*background:#389999 ;*/
}

.CCmutedPurple{
	background:#F3B6FA ;
	transition-duration: 600ms;
}

.CCmutedGreen{
	background:#61C758 ;
/*	background: #4BCC4B;*/
	transition-duration: 600ms;
}

.CCmutedOrange{
	background:#FFBE69 ;
	/*background: #FFA75E;*/
	transition-duration: 600ms;
}

/*effectContain Effect Styles*/
/*effectContain wraps the entire page and allows for effects on the page-wide level without effecting the body element*/
.effectContain{
	transition-duration:600ms;
	z-index: 10;
	position: relative;
	height: auto;
	background: #F2F2F2;
}

.pageEffect{
/*	transform: scale(.95,.95);
	-ms-transform: scale(.95,.95);
	-webkit-transform: scale(.95,.95);
	transition-duration: 600ms;*/

}

/*Transform Rotation Classes*/

.rotate90{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	transition-duration: 400ms;
}

.rotate180Ani{
	transform: rotate(-180deg);
	-ms-transform: rotate(-180deg); /* IE 9 */
	-webkit-transform: rotate(-180deg); /* Safari and Chrome */
	transition-duration: 800ms;
}

.rotate180Instant{
	transform: rotate(-180deg);
	-ms-transform: rotate(-180deg); /* IE 9 */
	-webkit-transform: rotate(-180deg); /* Safari and Chrome */
}

/*Utility Classes*/
.bottomSmallMargin{
	margin-bottom: 12px;
}
.topSmallMargin{
	margin-top: 12px;
}

/*These classes create a cool scrolling effect as resized*/
.slidingImgWrapLoc25{
	margin-left: calc(((600px - 100%) *-.25) - 5px);
}
.slidingImgWrapLoc33{
	margin-left: calc(((600px - 100%) *-.33) - 5px);
}
.slidingImgWrapLoc50{
	margin-left: calc(((600px - 100%) *-.50) - 5px);
}
.slidingImgWrapLoc66{
	margin-left: calc(((600px - 100%) *-.66) - 5px);
}
.slidingImgWrapLoc75{
	margin-left: calc(((600px - 100%) *-.75) - 5px);
}

/*Tag Icon*/

.tagIconSubTriangle{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #bbb;
	float: left;
}

.tagIconSubSquare{
	width: 15px;
	height: 20px;
	background: #bbb;
	float: left;
}

.tagIconFull{
	width: 25px;
	height: 27px;
	padding: 7px 10px 0 0;
	float: left;
}


/*Media Query Responsive Classes*/
@media (max-width: 1920px){
	.glamorShot{
	background: url(/imgs/benfull_1920.jpg) no-repeat center;
	}
}
@media (max-width: 1650px) and (min-width : 1080px){
	.glamorShot{
	background: url(/imgs/benfull_1650.jpg) no-repeat center;
	}	
}
@media (max-width : 1080px){
	.glamorShot{
	background: url(/imgs/benfull_1080.jpg) no-repeat center;
	}

	.showcase{
		width: 100%;
		height: auto;
		padding-bottom: 15px;
	}

	.showcaseImage{
		width: 85px;
		height: 85px;
		margin: 0px 31px 0px 31px;
	}

	.showcaseImage img{
		width: 100%;
		height: 100%
	}

	.showcaseImage:hover{
		margin: 0px 31px 0px 31px;
	}
	.showcaseSlider{
		width: 100%;

	}
	.cssWindowOutside{
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.cssWindowOutside:hover{
		height: 325px;
		margin-top: 25px;
	}
	.showcasePage{
		width: 20%;
	}
	.showcasePageButton{
		margin-left: auto;
		margin-right:auto;
		position: relative;
			}
	.showcasePageHold{
		width: 500%;
	}

	.showcaseImageCenter{
		width: 768px;
	}
	.showcasePageText{
		position: absolute;
		background-color: rgba(255,255,255,.9);
		width: 100%;
		height: auto;
		bottom: 0px;
		left: 0px;
		margin-left: 0px;
		padding: 5px 0 5px 0;
		text-align: center;
		
	}
	.showcasePageText p{
		display: none;
	}
	.projectShowcase{
		width: 768px;
		padding-top: 0px;
	}
	.showcaseItem{
		margin: 20px 40.5px 0 40.5px;
		position: relative;
	}

	.blogSidebar{
		display: none;
	}

	.blogSidebarReserve{
		display: none;
	}

	.blogMain{
		width: 80%;
		margin: 0 10% 0 10%;
	}
	.blogArticle{
		width: 100%;
		max-width: 600px;
		padding:0 0 0 0;
	}
	.projectText{
		width: 80%;
		margin: 0 10% 0 10%;
	}
	.projectInfo{
		width: 80%;
		margin: 0 10% 0 10%;
		border-top: 2px solid #4D4D4D;
		padding-top: 20px;
	}
	.cvSegment{
		width: 90%;
		margin: 0 5% 0 5%;
	}
	.cvSegmentContent{
		width: 100%;
		padding: 10px;
		margin-bottom: 5px;
	}
	.cvSegmentContent ul{
		margin: 0 20px 0 0;
	}
	.cvSegmentTitle{
		width: 100%;
		height: auto;
		text-align: left;
		margin: 5px 0 0 0;
		padding: 0 0 0 0;
	}
	.cvName{
		width: 100%;
		padding-top: 0px;
		margin: 0;
	}
	.cvContact{
		width: 100%;
		clear: both;
		padding-top: 5px;
		margin-top: 5px;
		height: auto;
		border-top: 2px solid #aaaaaa;
	}
	.cvContact ul{
		margin: 0 0 0 0;
	}
}

@media (max-width: 768px){
	.projectShowcase{
		width: 640px;
	}
	.showcaseItem{
		margin: 20px 19px 0 19px;
		position: relative;
	}

	.githubFooterButton{
		display: none;
	}
	.footerButtonHold{
		width: 510px;
	}
}

@media (max-width : 640px){
	.showcase{
		width: 100%;
		overflow: hidden;
		overflow-x: scroll;		
	}

	.showcaseActiveContain{
		display: none;
	}

	.glamorShot{
		background-position: -450px;
		background-position-top: -50px;
		height: 325px;
		background: url(/imgs/benfull_640.jpg);
	}

	.glamorText{
		position: relative;
		width: 100%;
		left: 0px;
		top: 150px;
		padding: 30px 0px 30px 0px;

	}

	.showcaseSlider{
		display: none;
	}

	.footer{
		height: auto;
		width: 100%;
	}

	.footerButton{
		float: none;
		margin: 7px 0 15px 0;
		position: relative;
	}
	.footerButtonHold{
		width: 225px;
		height: auto;
		overflow: hidden;

	}

	.footerLong{
		height: 350px;
	}
	.projectShowcase{
		width: 360px;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		padding: 0 0 0 0;
	}
	.showcaseItem{
		margin: 0 0 10px 0;
		position: relative;
		float: left;
		height: 95px;
		text-align: left;
		width: 360px;
		}

	.showcaseItem img{
		width: 90px;
		float: left;
		position: relative;
	}

	.showcaseProjectText{
		display: block;
		text-align: left;
		position: relative;
		width: 270px;
		margin-left: 110px;
		padding-top: 2px;
	}
	.cvSegmentContentul{
		margin-left: 0px;
	}
	.cvSegmentTitle{
		text-align: center;
	}
}

@media (max-width : 360px){
	.projectShowcase{
		width: 250px;
	}
	.showcaseItem{
		margin: 0 0 10px 0;
		height: 75px;
		width: 250px;
		}

	.showcaseItem img{
		width: 70px;
		float: left;
		position: relative;
	}

	.showcaseProjectText{
		width: 180px;
		margin-left: 80px;
		padding-top: 2px;
	}

	.glamorShot{
		background-position: -300px;
	}

	.glamorText{
		top:130px;
	}
	.naviToggle{
		height:70px; 
		transition-duration:0ms;
	}

	.naviMiddle a{
		float: left;
		clear: right;
	}
	.naviMiddle ul{
		clear: left;
		float: left;
		margin: 0 0 0 0;
		padding: 0px 0px 0px 0px;
	}
}