---
title: Blog
colorClass: CCmutedGreen
pageable: true
per_page: 8
---
<div class="mainContain">
  <%= partial "blog_sidebar" %>
	<div class="blogMain">
		<h2>Recent Posts:</h2>
		<% page_articles.each do |article| %>
			<%= partial "blog_article_load", locals: { article: article }%>
		<% end %>
		<%= partial "blog_paginate", locals: { paginate: paginate, prev_page: prev_page, num_pages: num_pages, page_number: page_number, next_page: next_page } %>
	</div>
</div>

