---
title: Curriculum Viate
colorClass: CCmutedRed
---
<div class="mainContain">
	<div class="cvSegment">
		<div class="cvImage">
			<img src="/imgs/benhead.png">
		</div>
		<div class="cvName"><h2>Benjamin Anderson Ghaemmaghami</h2><h3>Aspiring Computer Science Major</h3></div>
		<div class="cvContact">
			<ul>
				<li>contact@benghaem.com</li>
				<li>www.benghaem.com</li>
			</ul>
		</div>
	</div>
	<div class="cvSegment">
		<div class="cvSegmentTitle"><h2>Student Profile:</h2></div>
		<div class="cvSegmentContent">
			<p></p>
		</div>
	</div>
	<div class="cvSegment">
		<div class="cvSegmentTitle"><h2>Work Experience:</h2></div>
		<div class="cvSegmentContent">
			<ul>
				<li>
					<h2>Thing A</h2>
					<p>
				</li>
				<li>
					<h2>Thing B</h2>
					<p>
				</li>
			</ul>
		</div>
	</div>
	<div class="cvSegment">
		<div class="cvSegmentTitle"><h2>Technical Skills:</h2></div>
		<div class="cvSegmentContent">
			<ul>
				<li>
				<h2>HTML / CSS</h2>
				<p>
				</li>
				<li>
				<h2>Javascript / JQuery</h2>
				<p>
				</li>
				<li>
				<h2>C++</h2>
				<p>
				</li>	

			</ul>
		</div></div>
	<div class="cvSegment">
		<div class="cvSegmentTitle"><h2>Education:</h2></div>
		<div class="cvSegmentContent">
			<ul>
				<li>
					<h2>Thing A</h2>
					<p>
				</li>
			</ul>
		</div>
	</div>
	<div class="cvSegment">
		<div class="cvSegmentTitle"><h2>Awards:</h2></div>
		<div class="cvSegmentContent">
			<ul>
				<li>
					<h2>Thing A</h2>
					<p>
				</li>
				<li>
					<h2>Thing B</h2>
					<p>
				</li>
			</ul>
		</div>
	</div>



</div>
