---
title: Home
colorClass: CCmutedRed
---
<div class="backgroundPassiveColor">
	<div class="glamorShot">
		<div class="glamorTextHold">
			<div class="glamorText">
				Hi I'm Benjamin Ghaemmaghami, an aspiring computer science major. Below is some of my most recent work:
			</div>
		</div>
	</div>
</div>
<div class="showcase">
	<div class="showcaseImageCenter">
		<div class="showcaseImage"  onClick="javascript: showcaseSlideTo(1);">
			<img class="showcaseColorImage" src="assets/img/showcase/jscollide.png">
		</div>
		<div class="showcaseImage"  onClick="javascript: showcaseSlideTo(2);">
			<img class="showcaseColorImage" src="assets/img/showcase/singlepageport.png">
		</div>
		<div class="showcaseImage"  onClick="javascript: showcaseSlideTo(3);">
			<img class="showcaseColorImage" src="assets/img/showcase/linedraw.png">
		</div>
		<div class="showcaseImage"  onClick="javascript: showcaseSlideTo(4);">
			<img class="showcaseColorImage" src="assets/img/showcase/photoport.png">
		</div>
		<div class="showcaseImage"  onClick="javascript: showcaseSlideTo(5);">
			<img class="showcaseColorImage" src="assets/img/showcase/more.png">
		</div>
		<div class="showcaseActiveContain">
			<div class="showcaseActive"></div>
		</div>
	</div>
</div>
<div class="showcaseSlider">
	<div class="showcasePageHold">
<!-- 		<div class="showcasePage">
			<a href="/projects/laurathorntonlaw/"><div class="cssWindowOutside">
				<div class="cssWindowDot"></div>
				<div class="cssWindowDot"></div>
				<div class="cssWindowDot"></div>
				<span>Home - Laura A Thornton</span>
				<div class="cssWindowInside">
					<img class="showcasePageImage" src="assets/img/showcase/oneBack.png">
				</div>
				</div>
			</a>
			<div class="showcasePageText">
				<span>The Law Offices of <br> Laura A Thornton</span>
				<p>"A website created for the Law Offices of Laura A. Thrornton. The site features custom responsive design for both mobile phone and desktop viewers"</p>	
			</div>
		</div> -->

		<div class="showcasePage">
			<a href="/projects/collisiondetect/"><div class="cssWindowOutside">
				<div class="cssWindowDot"></div><div class="cssWindowDot"></div><div class="cssWindowDot"></div>
				<span>Collision Detection</span>
				<div class="cssWindowInside">
					<img class="showcasePageImage" src="assets/img/showcase/oneBack.png">
				</div>
			</div>		
			</a>			
			<div class="showcasePageText">

			<span>Javascript Collision Detection</span>
			<p>"An example of collision detection written in javascript. The engine is customizable and can support thousands of particles on mid-range hardware"</p>
			</div>
		</div>
		<div class="showcasePage">
			<a href="/projects/singlepageport/">
				<div class="cssWindowOutside">
					<div class="cssWindowDot"></div>
					<div class="cssWindowDot"></div>
					<div class="cssWindowDot"></div>
					<span>Single Page Portfolio</span>
					<div class="cssWindowInside">
						<img class="showcasePageImage" src="assets/img/showcase/twoBack.png">
					</div>
				</div>
			</a>
			<div class="showcasePageText">
				<span>Single Page Portfolio Design</span>
				<p>"This personal portfolio features a dynamic javascript based navigation system that responds to the user's location and allows quick navigaion around the single page"</p>
			</div>
		</div>
		<div class="showcasePage">
			<a href="/projects/linedraw/">
				<div class="cssWindowOutside">
					<div class="cssWindowDot"></div>
					<div class="cssWindowDot"></div>
					<div class="cssWindowDot"></div>
					<span>Line Draw</span>
					<div class="cssWindowInside">
						<img class="showcasePageImage" src="assets/img/showcase/threeBack.png">
					</div>
				</div>
			</a>
			<div class="showcasePageText">
				<span>Javascript Line Generation</span>
				<p>"An example of dynamic smooth line generation in javascript utilizing the HTML5 &lt;canvas&gt; element" </p>
			</div>
		</div>
		<div class="showcasePage">
			<a href="/projects/photoport/"><div class="cssWindowOutside">
				<div class="cssWindowDot"></div><div class="cssWindowDot"></div><div class="cssWindowDot"></div>
				<span>Photo Portfolio</span>
				<div class="cssWindowInside">
					<img class="showcasePageImage" src="assets/img/showcase/fourBack.png">
				</div>
			</div>		
			</a>			
			<div class="showcasePageText">

			<span>Photo Portfolio Design</span>
			<p>"A photographer's porfolio, including a PHP-based gallery and simple, elegant, single page design utilizing AJAX and page location hashes"</p>
			</div>
		</div>
		<div class="showcasePage">
			<h2><a href="/projects/" class="showcasePageButton">more projects</a></h2>
		</div>
	</div>
</div>
<div class="backgroundFiller <%= current_page.data.colorClass %>">
	<h1>more information</h1>
</div>
<div class="pageContent">
	<p>My name is Benjamin Ghaemmaghami, and I like to build things. I am a high-school senior who has a love for all things technology and an interest in computer science, mathematics, and biology. I am currently conducting research on the genetic effects of atrazine on mice, and I serve in student government as vice president. Outside of school I spend time with my friends, work on web projects, play/stream video games, and read. This website showcases some of my recent projects and features explanations of each as well as a blog component.</p>
</div>