---
title: Home
colorClass: CCmutedRed
---
<div class="backgroundPassiveColor">
		<div class="glamorShot">
		<div class="glamorTextHold">
		<div class="glamorText">
				Hi I'm Benjamin Ghaemmaghami, an aspiring computer science major. Below is some of my most recent work:
		</div>
		</div>
		</div>


</div>
		<div class="showcase">
			<div class="showcaseImageCenter">
			<div class="showcaseImage"  onClick="javascript: showcaseSlideTo(1);">
				<img class="showcaseColorImage" src="/imgs/showcase/one.png">
		</div>
			<div class="showcaseImage"  onClick="javascript: showcaseSlideTo(2);">
				<img class="showcaseColorImage" src="/imgs/showcase/two.png">
			</div>
			<div class="showcaseImage"  onClick="javascript: showcaseSlideTo(3);">
				<img class="showcaseColorImage" src="/imgs/showcase/three.png">
			</div>
			<div class="showcaseImage"  onClick="javascript: showcaseSlideTo(4);">
				<img class="showcaseColorImage" src="/imgs/showcase/four.png">
			</div>
			 <div class="showcaseImage"  onClick="javascript: showcaseSlideTo(5);">
			<img class="showcaseColorImage" src="/imgs/showcase/five.png">
			</div>
		</div>
		
		</div>

		<div class="showcaseSlider">
			<div class="showcasePageHold">
				<div class="showcasePage">
					<a href="/projects/laurathorntonlaw/"><div class="cssWindowOutside">
						<div class="cssWindowDot"></div><div class="cssWindowDot"></div><div class="cssWindowDot"></div>
						<span>Home - Laura A Thornton</span>
						<div class="cssWindowInside">
							<img class="showcasePageImage" src="/imgs/showcase/oneBack.png">
						</div>
					</div>
				</a>
					<div class="showcasePageText">
					<span>The Law Offices of <br> Laura A Thornton</span>
					<p>"A website created for the Law Offices of Laura A. Thrornton. The site features custom responsive design for both mobile phone and desktop viewers"</p>	
				</div>
				</div>
				<div class="showcasePage">
					<a href="/projects/collisiondetect/"><div class="cssWindowOutside">
						<div class="cssWindowDot"></div><div class="cssWindowDot"></div><div class="cssWindowDot"></div>
						<span>Collision Detection</span>
						<div class="cssWindowInside">
							<img class="showcasePageImage" src="/imgs/showcase/twoBackold.png">
						</div>
					</div>		
					</a>			
					<div class="showcasePageText">

					<span>Javascript Collision Detection</span>
					<p>"An example of collision detection written in javascript. The engine is customizable and can support thousands of particles on mid-range hardware"</p>
					</div>
				</div>
				<div class="showcasePage">
					<a href="/projects/singlepageport/">
					<div class="cssWindowOutside">
						<div class="cssWindowDot"></div><div class="cssWindowDot"></div><div class="cssWindowDot"></div>
						<span>Single Page Portfolio</span>
						<div class="cssWindowInside">
							<img class="showcasePageImage" src="/imgs/showcase/threeBackold.png">
						</div>
					</div>
					</a>
					<div class="showcasePageText">
					<span>Single Page Portfolio Design</span>
					<p>"This personal portfolio features a dynamic javascript based navigation system that responds to the user's location and allows quick navigaion around the single page"</p>
					</div>
				</div>
				<div class="showcasePage">
					<a href="/projects/linedraw/">
					<div class="cssWindowOutside">
						<div class="cssWindowDot"></div><div class="cssWindowDot"></div><div class="cssWindowDot"></div>
						<span>Line Draw</span>
						<div class="cssWindowInside">
							<img class="showcasePageImage" src="/imgs/showcase/fourBackold.png">
						</div>
					</div>
					</a>
					<div class="showcasePageText">
					<span>Javascript Line Generation</span>
					<p>"An example of dynamic smooth line generation in javascript utilizing the HTML5 &lt;canvas&gt; element." </p>
					</div>
			</div>
			<div class="showcasePage">
				<h2><a href="/projects/" class="showcasePageButton">more projects</a></h2>
			</div>
		</div>
	</div>
	<div class="backgroundFiller <%= current_page.data.colorClass %>">
		<h1>more information</h1>
	</div>
	<div class="pageContent">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra sodales velit. Maecenas vel nisi ut libero fringilla viverra. Pellentesque porta augue sit amet pretium ultrices. Etiam consectetur, dui vitae dignissim luctus, nibh dolor tempus dolor, a fermentum dolor felis a nisi. Sed semper justo quam, a fermentum sem molestie a. Nullam porttitor interdum odio quis egestas. Nunc ac vehicula neque. Integer molestie molestie lorem, sed aliquam est consectetur vel. In vestibulum convallis purus, eget vulputate magna gravida a. Aenean congue massa at elit laoreet, euismod accumsan nunc feugiat.</p>
	</div>