---
title: Projects
colorClass: CCmutedOrange
---
<div class="mainContain">
	<ul class="projectShowcase">
		<a href="laurathorntonlaw/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="assets/img/showcase/ltlaw.png">
			<span class="showcaseProjectText">Laura Thornton Law</span>
		</li></a>
		<a href="collisiondetect/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="assets/img/showcase/jscollide.png">
			<span class="showcaseProjectText">Collision Detection</span>
		</li></a>
		<a href="singlepageport/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="assets/img/showcase/singlepageport.png">
			<span class="showcaseProjectText">Single Page Portfolio</span>
		</li></a>
		<a href="linedraw/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="assets/img/showcase/linedraw.png">
			<span class="showcaseProjectText">Line Generation</span>
		</li></a>
		<a href="photoport/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="assets/img/showcase/photoport.png">
			<span class="showcaseProjectText">Photo Portfolio</span>
		</li></a>
		<a href="dynamictimeline/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="assets/img/showcase/dynamictimeline.png">
			<span class="showcaseProjectText">Dynamic Timeline</span>
		</li></a>
		<a href="datatimeline/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="assets/img/showcase/datatimeline.png">
			<span class="showcaseProjectText">HTML-Data Timeline</span>
		</li></a>
		<a href="bioresearch/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="assets/img/showcase/independentresearch.png">
			<span class="showcaseProjectText">Biology Independent Research</span>
		</li></a>
		<a href="shortfilms/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="assets/img/showcase/shortfilms.png">
			<span class="showcaseProjectText">Short Films</span>
		</li></a>
	</ul>
</div>