---
title: Projects
colorClass: CCmutedOrange
---
<div class="mainContain">
	<ul class="projectShowcase">
		<a href="laurathorntonlaw/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/one.png">
			Laura Thornton Law
		</li></a>
		<a href="collisiondetect/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/two.png">
			Collision Detection
		</li></a>
		<a href="singlepageport/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/three.png">
			Single Page Portfolio
		</li></a>
		<a href="linedraw/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/four.png">
			Line Generation
		</li></a>
		<a href="photoport/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/five.png">
			Photo Portfolio
		</li></a>
		<a href="dynamictimeline/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/one.png">
			Dynamic Timeline
		</li></a>
		<a href="datatimeline/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/two.png">
			HTML-Data Timeline
		</li></a>
		<a href="bioresearch/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/two.png">
			Biology Independent Research
		</li></a>
		<a href="shortfilms/"><li class="showcaseItem">
			<img class="showcaseColorImage" src="/imgs/showcase/two.png">
			Short Films
		</li></a>
	</ul>
</div>